---
// import local data
import emojiHolidays from "../data/emojiHolidays.json";  
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Get & Show Data on Astro</title>
	</head>
	<body>
		
		<h1>Get & Show Data on Astro</h1>

		<ul>
			<li><a href="internal">Internal Frontmatter</a></li>
			<li><a href="local">Local Data</a></li>
			<li><a href="external">External Data</a></li>
		</ul>

	</body>
</html>
